@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600;1,700;1,800&family=Poppins:wght@200;400;600&family=Raleway:ital,wght@0,500;0,700;0,800;0,900;1,600;1,700&family=Roboto+Condensed:ital,wght@0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: black;
  position: relative;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 20px;
  top: 0px;
  right: 0px;
  left: 0px;
  font-family: "Playfair Display", serif 600px;
  background-color: black;
  position: fixed;
  z-index: 1;
}
.linkcontainer {
  display: flex;
  gap: 20px;
}
.right {
  display: flex;
  gap: 23px;
  align-items: center;
}
a {
  cursor: pointer;
}
main {
  /* display: flex; */
  position: relative;
  height: 5%;
  margin-top: 50px;
  font-family: "Roboto Condensed", sans-serif;
}

#Home {
  color: white;
}
.hello {
  background-color: green;
  width: 13%;
  height: 100%;
  padding: 5px 0px 5px 10px;
  margin: 10% 0px 0px 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.name {
  padding-left: 10%;
  padding-top: 20px;
  width: fit-content;
  margin: 0;
}
.developer {
  font-weight: 400;
  padding-left: 10%;
  padding-top: 5%;
  font-size: 30px;
}
.mail {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 10%;
  padding-right: 0%;
  gap: 20px;
  padding-top: 20;
  width: fit-content;
}
.email {
  display: flex;
  align-items: center;
  gap: 25px;
}
.phonenumber {
  display: flex;
  align-items: center;
  gap: 25px;
}
.surulere {
  display: flex;
  align-items: center;
  gap: 25px;
}
.image {
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 300px;
  justify-content: center;
  padding-top: 0;
  padding-top: 0;
  gap: 10px;
  margin-top: -15%;
  margin-left: 60%;
}
#image {
  border-radius: 30%;
  border: 5 solid black;
}

.aboutme {
  /* background-color: green; */
  width: 18%;
  height: 7%;
  padding: 5px 0px 5px 10px;
  margin: 50% 0px 0px 10%;
  border: 3px solid black;
}
.texts {
  width: 50%;
  height: 100px;
  margin: 50px 0px 0px 10%;
}
#About {
  background-color: #fff;
  height: 80vh;
}
#aboutmeimg {
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 300px;
  justify-content: center;
  padding-top: 0;
  padding-top: 0;
  gap: 10px;
  margin-top: -35%;
  margin-left: 70%;
}
#Resume {
  height: 130vh;
  color: black;
  background-color: whitesmoke;
  padding: 20px 10rem;
}
.myproject {
  width: 25%;
  /* height: 10%; */
  /* padding: 50px 0px 5px 10px; */
  /* margin: 50px 0px 0px 10%; */
  border: 3px solid black;
}
.projectimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.below {
  width: 40%;
  height: 10%;
  /* padding: 0px 0px 5px 10px;
        margin: 0px 0px 0px 10%; */
}
.orderimg {
  width: 400px;

  color: black;
}
.fourcardimg {
  display: flex;
  flex-direction: row;
  width: 400px;
}
.helloworldimg {
  width: 400px;
}
.animationsimg {
  width: 400px;
}
.link {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  width: fit-content;
}
#INTERESTS {
  height: 120vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex;
        flex-direction: row; */
}
.myinterests {
  width: 25%;
  height: 10%;
  padding: 50px 0px 5px 0px;
  margin: 0px 0px 0px 0%;
  text-align: center;
  color: white;
}
.alot {
  padding: 0 0 0;
  color: white;
}
.lists {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 8%;
  /* justify-content: center; */
  font-size: 20px;
  color: white;
}
.int {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-between;
}
#contact {
  height: 150vh;
  color: white;
  background-color: black;
  /* padding: 20px 10rem ; */
  /* display: flex;
        flex-direction: column;
        align-items: center; */
}
.contact {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  /* width: 25%;
        height: 10%; */
  /* padding: 50px 0px 5px 10px;
        margin: 50px 0px 0px 40%; */
}
.youcan {
  /* padding: 0px 0px 5px 10px;
        margin: 0px 0px 0px 10%; */
}
.accounts {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  /* padding-left: 12%;
        padding-right: 0%; */
  gap: 20px;
  /* padding-top: 20; */
  /* width: fit-content; */
  padding: 0 0 0 50px;
}

.edit {
  /* display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50%; */
}
.last {
  display: flex;
  gap: 30%;
  flex-direction: row;
  justify-content: space-between;
}
@media ((min-width: 320px) and (max-width: 900px)) {
  #home {
    height: fit-content;
  }
  #About {
  }
  #Interests {
  }
  #Contact {
  }
}
